body {
    font-family: 'Cormorant SC', serif;
    font-size: 12px;
    padding: 0%;
    margin: 0%;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    padding: 0%;
    margin: 0%;
}

h2 {
    font-size: 35px;
    font-weight: bold;
    margin: 0%;
    padding: 0%;
}

h3 {
    font-size: 25px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

hr {
    color: pink;
    margin-bottom: 20px;
    width: 50%;
}

input {
    color: rgba(222, 177, 184, 0.792);
}

.p1 {
    margin-bottom: 20px;
}

.p2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.link-button {
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    background-color: rgba(239, 86, 59, 0.897);
}

.div1 {
    justify-content: center;
    text-align: center;
    color: white;
    background: linear-gradient(0deg, rgba(15, 15, 15, 0.945), rgba(214, 231, 231, 0.324)), url(images/donation0.jpg) no-repeat center / cover;
    padding: 100px 300px;
}

/* div3 start */

.donate-amount {
    background-color: rgba(249, 248, 246, 0.765);
    padding: 15px 7px;
    margin: 5px;
    border-radius: 5px;
}

.select-amount {
    font-weight: bold;
    color: rgba(255, 0, 0, 0.717);
    background-color: rgba(219, 200, 200, 0.448);
    border: 2px solid rgba(219, 24, 24, 0.677);
    padding: 15px 7px;
    margin: 5px;
    border-radius: 5px;
}

.amountdivs-display {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

/* div3 end */

.section2 {
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.div5 {
    text-align: center;
}